<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.autotransfer.model.dao.AutoTransferMapper">

    <select id="getSchedulerInfo"
            resultType="com.kopo.finalproject.autotransfer.model.dto.Scheduler">
        select js.guest_id        as guestId,
               js.account_number  as accountNumber,
               js.join_date       as joinDate,
               js.sms_transfer    as smsTransfer,
               js.transfer_amount as transferAmount,
               js.transfer_period as transferPeriod,
               sa.current_balance as currentBalance,
               da.account_number  as depositAccountNumber
        from join_saving js
                 join saving_account sa on js.account_number = sa.account_number
                 join deposit_account da on js.deposit_account_number = da.account_number
    </select>

    <select id="getEndTransferInfo"
            parameterType="String"
            resultType="com.kopo.finalproject.autotransfer.model.dto.EndTransferInfo">
        select js.guest_id               as guestId,
               g.name                    as name,
               js.account_number         as accountNumber,
               js.deposit_account_number as depositAccountNumber,
               sa.final_amount           as finalAmount,
               sa.interest_amount        as interestAmount
        from join_saving js
                 join saving_account sa
                      on js.account_number = sa.account_number
                 join guest g on g.guest_id = sa.opener_id
        where sa.account_number = #{account_number}
          and sa.opener_id = js.guest_id
    </select>
</mapper>
