<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.autotransfer.model.dao.AutoTransferMapper">

    <select id="getTransferId"
            parameterType="HashMap"
            resultType="String">
        SELECT auto_transfer_id
        FROM auto_transfer
        WHERE guest_id = #{guest_id}
          AND account_number_in = #{account_number}
    </select>

    <select id="getBalance"
            parameterType="HashMap"
            resultType="String">
        SELECT current_balance
        FROM saving_account
        WHERE account_number = #{account_number}
    </select>



</mapper>