<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.depositaccount.model.dao.DepositaccountMapper">
    <!-- 손님의 예금 계좌 전체 조회 -->
    <select id="getAllDepositAccountsOfGuest" parameterType="String"
            resultType="com.kopo.finalproject.depositaccount.model.dto.Depositaccount">
        SELECT *
        FROM deposit_account
        WHERE guest_id = #{guest_id}
    </select>

    <!-- 예금 계좌 비밀번호 확인 -->
    <select id="checkDepositAccountPW" parameterType="HashMap"
            resultType="Integer">
        SELECT count(*)
        FROM deposit_account
        WHERE guest_id = #{guest_id}
          and account_number = #{account_number}
          and account_pw = #{account_pw}
    </select>

    <update id="withdraw" parameterType="HashMap">
        UPDATE deposit_account
        SET balance = balance - #{amount}
        WHERE account_number = #{deposit_account_number}
    </update>

</mapper>