<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.guest.model.dao.GuestMapper">
    <!-- 회원 전체 조회 -->
    <!--    <select id="getAllMember" parameterType="com.kopo.finalproject.guest.model.dto.Guest"-->
    <!--            resultType="com.kopo.finalproject.guest.model.dto.Guest">-->
    <!--        SELECT *-->
    <!--        FROM guest-->
    <!--    </select>-->

    <select id="getEndMessageGuest" parameterType="String"
            resultType="com.kopo.finalproject.guest.model.dto.EndMessageGuest">
        select g.name as name, g.phone as phone, sa.saving_name as savingName
        from join_saving js
                 join guest g on g.guest_id = js.guest_id
                 join saving_account sa on sa.account_number = js.account_number
        where sa.account_number = #{account_number}
          and js.sms_maturity = 'Y'
    </select>


    <!-- 로그인 -->
    <select id="loginGuest" parameterType="HashMap" resultType="com.kopo.finalproject.guest.model.dto.Guest">
        SELECT *
        FROM guest
        where guest_id = #{guest_id}
          and pw = #{pw}
    </select>

    <select id="selectEmailOneMember" parameterType="String" resultType="com.kopo.finalproject.guest.model.dto.Guest">
        SELECT *
        FROM guest
        where email = #{email}
    </select>

    <select id="getPhone" parameterType="String" resultType="String">
        SELECT phone
        FROM guest
        where guest_id = #{guest_id}
    </select>

    <select id="checkDuplicate" parameterType="HashMap" resultType="int">
        SELECT COUNT(*)
        FROM guest_pet
        WHERE pet_id = (SELECT pet_id FROM pet WHERE name = #{pet_name})
          AND guest_id = #{guest_id}
    </select>

    <insert id="insertPet" parameterType="HashMap">
        INSERT INTO guest_pet (guest_id, pet_id)
        VALUES (#{guest_id}, (SELECT pet_id FROM pet WHERE name = #{pet_name}))
    </insert>

    <!--이메일 송부할 손님 정보-->
    <select id="getEmailGuest" resultType="com.kopo.finalproject.guest.model.dto.EmailGuest">
        SELECT g.guest_id, g.name, g.email, g.reg_date, COUNT(*) as pet_cnt
        FROM guest_pet gp
                 JOIN guest g ON g.guest_id = gp.guest_id
        WHERE g.type = 'GUEST'
        GROUP BY g.guest_id, g.name, g.email, g.reg_date
        ORDER BY g.name
    </select>
</mapper>