<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.joinsaving.model.dao.JoinSavingMapper">
    <insert id="joinSaving" parameterType="HashMap">
        INSERT INTO join_saving(guest_id, account_number, accept_status, sms_transfer, sms_maturity,
                                contribution_amount, contribution_ratio)
        VALUES (#{guest_id}, #{account_number}, 'Y', #{sms_transfer},
                #{sms_maturity}, #{contribution_amount}, #{contribution_ratio})
    </insert>

    <insert id="inviteSaving" parameterType="HashMap">
        INSERT INTO join_saving(guest_id, account_number, accept_status)
        VALUES (#{guest_id}, #{account_number}, 'N')
    </insert>

    <select id="selectInvited" parameterType="String"
            resultType="com.kopo.finalproject.joinsaving.model.dto.JoinSaving">
        SELECT *
        FROM join_saving
        WHERE guest_id = #{guest_id}
    </select>

    <select id="getInvitedInfo" resultType="com.kopo.finalproject.dto.Invite">

        select g2.name           as openerName,
               js.guest_id       as invitedGuestId,
               js.account_number as accountNumber,
               js.join_date      as inviteDate,
               sa.saving_name    as savingName,
               p.name            as petName,
               p.image           as petImg,
               sa.category       as category,
               psp.rate          as rate,
               psp.description   as description,
               psp.min_balance   as minBalance,
               psp.max_balance   as maxBalance,
               psp.image         as productImg,
               sa.end_date       as endDate,
               sa.join_period    as joinPeriod
        from guest g
                 join join_saving js on g.guest_id = js.guest_id
                 join saving_account sa on sa.account_number = js.account_number
                 join pet p on p.pet_id = sa.pet_id
                 join guest g2 on g2.guest_id = sa.opener_id
                 join pet_saving_product psp on psp.category = sa.category
        where g.guest_id = #{guest_id}
          and js.accept_status = 'N'
    </select>


    <update id="updateInvited" parameterType="HashMap">
        UPDATE join_saving
        SET accept_status       = 'Y',
            join_date           = CAST(SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul' AS DATE),
            sms_transfer        = #{sms_transfer},
            sms_maturity        = #{sms_maturity},
            contribution_amount = 0,
            contribution_ratio  = 0
        WHERE guest_id = #{guest_id}
          and account_number = #{account_number}
    </update>
</mapper>