<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.joinsaving.model.dao.JoinSavingMapper">
    <!-- 적금 가입 -->
    <insert id="joinSaving" parameterType="HashMap">
        INSERT INTO join_saving(guest_id, account_number, deposit_account_number, sms_transfer, sms_maturity,
                                contribution_amount, transfer_amount, transfer_period)
        VALUES (#{guest_id}, #{account_number}, #{deposit_account_number}, #{sms_transfer},
                #{sms_maturity}, #{contribution_amount}, #{amount}, #{period})
    </insert>


    <!-- 기여금액 업데이트 -->
    <update id="updateContributionAmount" parameterType="HashMap">
        UPDATE join_saving
        SET contribution_amount = contribution_amount + #{amount}
        WHERE guest_id = #{guest_id}
          and account_number = #{account_number}
    </update>

    <select id="selectInvited" parameterType="String"
            resultType="com.kopo.finalproject.joinsaving.model.dto.JoinSaving">
        SELECT *
        FROM join_saving
        WHERE guest_id = #{guest_id}
    </select>

    <select id="getCnt" parameterType="String"
            resultType="int">
        select count(*)
        from join_saving
        where account_number = #{account_number}
    </select>

    <select id="getInvitedInfo" parameterType="HashMap" resultType="com.kopo.finalproject.dto.Invite">
        select distinct g2.name            as openerName,
                        js.account_number  as accountNumber,
--                js.join_date       as inviteDate,
                        sa.saving_name     as savingName,
                        p.name             as petName,
                        p.image            as petImg,
                        sa.category        as category,
                        psp.rate           as rate,
                        psp.prime_rate     as primeRate,
                        psp.description    as description,
                        psp.min_balance    as minBalance,
                        psp.max_balance    as maxBalance,
                        psp.image          as productImg,
                        sa.end_date        as endDate,
                        sa.join_period     as joinPeriod,
                        sa.final_amount    as finalAmount,
                        sa.interest_amount as interestAmount
        from guest g
                 join join_saving js on g.guest_id = js.guest_id
                 join saving_account sa on sa.account_number = js.account_number
                 join pet p on p.pet_id = sa.pet_id
                 join guest g2 on g2.guest_id = sa.opener_id
                 join pet_saving_product psp on psp.category = sa.category
        where sa.account_number = #{accountNumber}
    </select>

    <select id="getInvitedPW" parameterType="String" resultType="String">
        select saving_pw
        from saving_account
        where account_number = #{accountNumber}
    </select>

</mapper>