<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.product.model.dao.ProductMapper">
    <!-- 상품 전체 조회 -->
    <select id="getAllProduct"
            resultType="com.kopo.finalproject.product.model.dto.Product">
        SELECT *
        FROM pet_saving_product
        ORDER BY category
    </select>

    <select id="getProductByCategory" parameterType="String"
            resultType="com.kopo.finalproject.product.model.dto.Product">
        SELECT *
        FROM pet_saving_product
        WHERE category = #{category}
    </select>

    <update id="updateProduct" parameterType="com.kopo.finalproject.product.model.dto.Product">
        UPDATE pet_saving_product
        SET rate          = #{rate}
          , creation_date = SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul'
          , prime_rate    = #{prime_rate}
          , description   = #{description}
          , min_balance   = #{min_balance}
          , max_balance   = #{max_balance}
          , min_period    = #{min_period}
          , max_period    = #{max_period}
          , image         = #{image}
        WHERE category = #{category}
    </update>

    <insert id="insertProduct" parameterType="com.kopo.finalproject.product.model.dto.Product">
        INSERT INTO pet_saving_product(category, rate, prime_rate, description, min_balance, max_balance, min_period,
                                       max_period,
                                       image)
        VALUES (#{category}, #{rate}, #{prime_rate}, #{description}, #{min_balance}, #{max_balance}, #{min_period},
                #{max_period}, #{image})
    </insert>

    <delete id="deleteproduct" parameterType="String">
        DELETE
        pet_saving_product
        WHERE category =
        #{category}
    </delete>

</mapper>