<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.savingaccount.model.dao.SavingaccountMapper">

    <!-- 마이페이지 적금에 들어가야할 계좌-->
    <select id="getAllSavingAccountsOfPetOfGuest"
            parameterType="HashMap"
            resultType="com.kopo.finalproject.savingaccount.model.dto.MyAccountsOfPet">
        SELECT sa.account_number  as accountNumber,
               sa.opener_id       as openerId,
               sa.current_balance as balance,
               sa.saving_name     as savingName,
               sa.progress_rate   as progressRate,
               psd.image          as categoryImg,
               sa.saving_pw       as savingPW
        FROM saving_account sa
                 join pet_saving_product psd on psd.category = sa.category
                 join join_saving js on js.account_number = sa.account_number
        WHERE js.guest_id = #{guest_id}
          AND pet_id = #{pet_id}
    </select>

    <select id="getAllSavingAccounts"
            resultType="com.kopo.finalproject.savingaccount.model.dto.Savingaccount">
        SELECT *
        FROM saving_account
    </select>

    <!-- 적금 계좌 테이블 생성 -->
    <insert id="createSavingAccounts" parameterType="HashMap">
        INSERT INTO saving_account(account_number, join_period, end_date, category, opener_id, saving_name, pet_id,
                                   final_amount, interest_amount, saving_pw)
        VALUES (#{account_number}, #{join_period}, TO_DATE(#{end_date}, 'YYYY-MM-DD'), #{category}, #{guest_id},
                #{saving_name}, #{pet_id}, #{final_amount}, #{interest_amount}, #{saving_pw})
    </insert>

    <!-- 적금 가입하면서 자동이체 시 적금 계좌에 돈 입금됨 + finalAmount랑 interestAmount 변경하기 -->
    <update id="deposit" parameterType="HashMap">
        UPDATE saving_account
        SET current_balance = current_balance + #{amount},
            final_amount    = #{final_amount},
            interest_amount = #{interest_amount}
        WHERE account_number = #{account_number}
    </update>

    <!-- 자동이체 시 적금 계좌에 돈만 입금됨 -->
    <update id="autoDeposit" parameterType="HashMap">
        UPDATE saving_account
        SET current_balance = current_balance + #{amount}
        WHERE account_number = #{account_number}
    </update>

    <!-- 만기 시 적금 계좌에서 돈 출금됨 -->
    <update id="autoWithdraw" parameterType="HashMap">
        UPDATE saving_account
        SET current_balance = 1000
        WHERE account_number = #{account_number}
    </update>

    <select id="getBalance"
            parameterType="HashMap"
            resultType="String">
        SELECT current_balance
        FROM saving_account
        WHERE account_number = #{account_number}
    </select>

    <select id="getDetailInfo">
        select js.guest_id               as guestId,
               g.name                    as guestName,
               sa.account_number         as accountNumber,
               sa.opening_date           as openingDate,
               sa.end_date               as endDate,
               psp.category              as category,
               psp.image                 as categoryImg,
               sa.opener_id              as openerId,
               g2.name                   as openerName,
               sa.current_balance        as balance,
               sa.saving_name            as savingName,
               pet.name                  as petName,
               sa.progress_rate          as progressRate,
               sa.final_amount           as finalAmount,
               sa.interest_amount        as interestAmount,
               js.join_date              as joinDate,
               js.contribution_amount    as contributionAmount,
               js.contribution_ratio     as contributionRatio,
               js.transfer_amount        as transferAmount,
               js.transfer_period        as transferPeriod,
               js.DEPOSIT_ACCOUNT_NUMBER as depositAccountNumber,
               psp.rate                  as rate,
               psp.prime_rate            as priorRate
        from saving_account sa
                 join join_saving js on sa.account_number = js.account_number
                 join pet_saving_product psp on psp.category = sa.category
                 join pet on pet.pet_id = sa.pet_id
                 join guest g on g.guest_id = js.guest_id
                 join guest g2 on g2.guest_id = sa.opener_id
        where sa.account_number = #{accountNumber}
        order by js.join_date
    </select>


    <select id="getHistoryInfo">
        select distinct th.auto_transfer_id   as id,
                        da.guest_id           as guestId,
                        g.name                as guestName,
                        th.account_number_in  as accountNumberIn,
                        th.account_number_out as accountNumberOut,
                        th.transfer_date      as transferDate,
                        th.amount             as amount,
                        th.balance_after_in   as balanceAfterIn
        from transfer_history th
                 join deposit_account da on da.account_number = th.account_number_out
                 join guest g on g.guest_id = da.guest_id
        where th.account_number_in = #{accountNumber}
        order by id desc
    </select>
</mapper>