<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.savingaccount.model.dao.SavingaccountMapper">
    <!-- 계좌 전체 조회 -->
    <select id="getAllSavingAccountsOfPetOfGuest"
            parameterType="HashMap"
            resultType="com.kopo.finalproject.savingaccount.model.dto.Savingaccount">
        SELECT *
        FROM saving_account
        WHERE opener_id = #{opener_id}
          AND pet_id = #{pet_id}
    </select>

    <insert id="createSavingAccounts" parameterType="HashMap">
        INSERT INTO saving_account(account_number, join_period, end_date, category, opener_id, saving_name, pet_id)
        VALUES (#{account_number}, #{join_period}, TO_DATE(#{end_date}, 'YYYY-MM-DD'), #{category}, #{guest_id},
                #{saving_name}, #{pet_id})
    </insert>

    <update id="deposit" parameterType="HashMap">
        UPDATE saving_account
        SET current_balance = current_balance + #{amount},
            progress_rate   = #{progress_rate}
        WHERE account_number = #{account_number}
    </update>

    <select id="getBalance"
            parameterType="HashMap"
            resultType="String">
        SELECT current_balance
        FROM saving_account
        WHERE account_number = #{account_number}
    </select>


</mapper>