<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.transferhistory.model.dao.TransferHistoryMapper">

    <insert id="insertDepositHistory" parameterType="HashMap">
        INSERT INTO transfer_history_d(account_number_in, account_number_out, guest_id, amount, balance_after_transfer)
        VALUES (#{account_number}, #{deposit_account_number}, #{guest_id}, #{amount}, #{current_balance_d})
    </insert>

    <insert id="insertSavingHistory" parameterType="HashMap">
        INSERT INTO transfer_history_s(account_number_in, account_number_out, guest_id, amount, balance_after_transfer)
        VALUES (#{account_number}, #{deposit_account_number}, #{guest_id}, #{amount}, #{current_balance_s})
    </insert>
</mapper>