<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kopo.finalproject.transferhistory.model.dao.TransferHistoryMapper">

    <insert id="insertHistory" parameterType="HashMap">
        INSERT INTO transfer_history(account_number_in, account_number_out, amount, balance_after_in, transfer_date)
        VALUES (#{account_number}, #{deposit_account_number}, #{amount}, #{current_balance_s},TO_DATE(#{date}, 'YYYY-MM-DD HH24:MI:SS'))
    </insert>

    <insert id="insertDepositHistory" parameterType="HashMap">
        INSERT INTO history(account_number, inout, transaction_amount, balance,
                            transaction_class, content, transaction_date)
        VALUES (#{deposit_account_number}, '출금', -#{amount}, #{current_balance_d}, '자동이체', '적금 자동이체',
                TO_DATE(#{date}, 'YYYY-MM-DD HH24:MI:SS'))
    </insert>

    <insert id="insertDepositHistoryEnd" parameterType="HashMap">
        INSERT INTO history(account_number, inout, transaction_amount, balance,
                            transaction_class, content)
        VALUES (#{deposit_account_number}, '입금', #{amount}, #{current_balance_d}, '자동이체', '적금 만기')
    </insert>
</mapper>