@font-face {
    font-family: 'font-light';
    src: url('../font/NEXON Light.ttf');
}

@font-face {
    font-family: 'font-bold';
    src: url('../font/NEXON Bold.ttf');
}

@font-face {
    font-family: 'font-medium';
    src: url('../font/NEXON Medium.ttf');
}

@font-face {
    font-family: 'net-medium';
    src: url('../font/netmarbleM.ttf');
}

@font-face {
    font-family: 'net-bold';
    src: url('../font/netmarbleB.ttf');
}

:root {
    --primary-color: #46814c;
    --secondary-color: #e1ffef;
    --black: #000000;
    --white: #ffffff;
    --gray: #E1E6DE;
    --gray-2: #757575;
}

* {
    font-family: 'font-medium';
    font-size: 19px;
    color: #324D3D;
}

a:hover {
    transform: scale(1.07) !important;
}

header {
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 200px;
    padding-right: 200px;
}

.body {
    padding: 40px 200px 100px 200px;
}

.content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}