@font-face {
    font-family: 'font-bold';
    src: url('../font/Hana2-Bold.ttf');
}

* {
    font-family: 'font-bold';
    font-size: 19px;
}

header {
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 200px;
    padding-right: 200px;
}

.body {
    padding: 40px 200px 100px 200px;
}

.content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}