@font-face {
    font-family: 'font-regular';
    src: url('../font/NEXON Lv2 Gothic.woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #008c8c;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menu-item {
    margin-right: 60px;
    cursor: pointer;
    text-decoration: none;
    color: #008485;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-item:last-child {
    margin-right: 0;
}

.login-register {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.login,
.register,
.logout {
    color: #000000;
    font-family: font-regular;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

.myinfo {
    color: #000000;
    font-family: font-regular;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
}