::-webkit-scrollbar {
    width: 13px; /* 스크롤바의 너비를 조정합니다. */
}

/* 스크롤바의 썸네일(드래그 가능한 부분) */
::-webkit-scrollbar-thumb {
    background-color: #b6aa94; /* 썸네일의 배경색을 변경합니다. */
    border-radius: 5px; /* 썸네일의 모서리를 둥글게 만듭니다. */
}

/* 스크롤바의 트랙(스크롤바가 이동하는 곳) */
::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* 트랙의 배경색을 변경합니다. */
}

.progressbar {
    width: 400px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #ccc;
    position: relative;
}

.progress {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.modal-c {
    text-align: center;
    display: grid;
    place-items: center;
}

.top {
    margin-bottom: 20px;
}

.top div:nth-child(1) {
    text-align: end;
    font-size: 15px;
    font-family: font-medium;
    margin-bottom: 5px;
}

.end div:nth-child(1) {
    color: #b6aa94;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0px;
}

.button-link {
    font-family: font-bold;
    width: 260px;
    height: 45px;
    background: #b6aa94;
    box-shadow: 1px 1px 12px 0px rgb(0 0 0 /20%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    text-decoration: none;
    color: white;
    border: none;

    .contents {
        padding: 0px 50px;
    }
}

